In [ ]:
num=[1,2.5,3,4.5,5]
num

In [ ]:
names=["janardhan","rakesh","rakshith"]
# print(names[0])
print(names[1])

In [ ]:
names=[["janardhan"] ["rakesh"]]
print(names[0])

In [ ]:
color_list=["red","green","yellow"]
print(color_list)

In [ ]:
color_list[0]="orange"
print(color_list)

In [ ]:
color_list.append("red")
print(color_list)

In [ ]:
color_list.append("red")
print(color_list)

In [ ]:
color_list

In [ ]:
name=["janardhan","rakesh","rakshith"]
print(name)

In [ ]:
name.append("srinivas")
print(name)

In [ ]:
name.insert(2,"hyderabad")
print(name)

In [ ]:
name.pop(1)

In [ ]:
name.insert(0,"rakesh")
print(name)

In [ ]:
name.pop(2)

In [ ]:
name

In [ ]:
name.sort()
print(name)

In [ ]:
name.count()
print(name)

In [ ]:
print(name)

In [ ]:
name.insert(3,"hyderabad")
print(name)

In [ ]:
name.pop(3)

In [ ]:
name

In [ ]:
print(name[:2])

In [ ]:
name.append("hyderabad")
print(name)

In [ ]:
name.remove("hyderabad")
print(name)

In [ ]:
name.remove("hyderabad")
print(name)

In [ ]:
name

In [ ]:
name.insert(2,"hyderabad")
print(name)

In [ ]:
name.remove("hyderabad")
print(name)

In [ ]:

mul=1
for i in range items:
    mul*=1
    print(i[1,2,3])

In [ ]:
num1=int(input("enter the number"))
num2=int(input("enter the number"))
count=0
add=1
for i in range(num1,num2+1,1):
    if i%7==0 and i%5!=0:
        add+=i
        count+=1
print(add)

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
print(a)
num=int(input("enter the number"))
position=int(input("enter the position"))
a.remove(position,num)
print(a)

In [ ]:
num=[1,2,3,4,5,6]
for i in range :
    print(i)

In [ ]:
my_list=[10,20,30,20,10,30,40]
print(my_list)
my_set=set(my_list)
my_new_list=list(my_set)
print(my_set)
my_set.sort()
print(my_set)

In [ ]:
list1=[10,20,30,40,20,30,40]
print(list1)
new_list=set(list1)
my_new_list=list(new_list)
print(my_new_list)
my_new_list.sort()
print(my_new_list)

In [ ]:
m=int(input("enter the marks"))
n=input("enter the name")
name=[]
marks=[]
for i in range(5):
    name.append(n)
    marks.append(m)
h=max(marks)
l=min(marks)
print(h)
print(l)

In [ ]:
name=[]
marks=[]
for i in range(5):
    m=int(input("enter the marks"))
    n=input("enter the name")
    name.append(n)
    marks.append(m)
h=max(marks)
l=min(marks)
print(h)
print(l)

In [ ]:
name=[1,2,3,4,5]
for i in range name
    name.append(n)
print(name)
name.sort()
print(name)
name.remove("hyderbad")
print(name)

In [ ]:
name=[]
marks=[]
for i in range(5):
    n=input("enter the name")
    m=int(input("enter the number"))
    name.append(n)
    marks.append(m)
h=max(marks)
l=min(marks)
print(h)
print(l)
for i in range(5):
    if h==marks[i]:
        print(name[i])
    if l==marks[i]:
        print(name[i])

In [2]:
#write a program to append the list 1 to list2
list1=[1,2,3,0]
list2=["red","green","orange"]
final_list=list1+list2
print(final_list)

[1, 2, 3, 0, 'red', 'green', 'orange']

In [3]:
final_list.append("pulpy")
print(final_list)

[1, 2, 3, 0, 'red', 'green', 'orange', 'pulpy']

In [5]:
#write a find to common in tables
color1="red","green","orenge","yellow"
color2="red","white","yellow","cyan"
print(set(color1)&set(color2))

{'red', 'yellow'}

In [11]:
name="janardhan"
 "a" in  name

IndentationError: unexpected indent (260710271.py, line 2)

In [14]:
name="rakesh"
'a' in name

True

In [15]:
min("rakesh")

'a'

In [16]:
max("rakesh")

's'

In [17]:
name1=" janardhan"

In [19]:
name2=name+name1
print(name2)

rakesh janardhan

In [20]:
set(name2)

{' ', 'a', 'd', 'e', 'h', 'j', 'k', 'n', 'r', 's'}

In [25]:
list=[1,1,2]
list3=["hello",1,2]

In [28]:
final=list+list2+list3
print(final)

[1, 1, 2, 'red', 'green', 'orange', 'hello', 1, 2]

In [30]:
final.append("hero")
print(final)

[1, 1, 2, 'red', 'green', 'orange', 'hello', 1, 2, 'hero', 'hero']

In [31]:
final.pop()

'hero'

In [32]:
final

[1, 1, 2, 'red', 'green', 'orange', 'hello', 1, 2, 'hero']

In [34]:
min(list)

1

In [35]:
max(list)

2

In [36]:
sum(list)

4

In [37]:
tuple=(1,4,5,6,7,8)

In [38]:
sum(tuple)

31

In [1]:
a=["a","b","c"]
string=a[0]+a[len(a)-1]
print(string)

ac

# traversing in list

In [3]:
a=[1,2,3,4,5,6,7,8,9]
for i in range(len(a)):
    print(a[i])

1
2
3
4
5
6
7
8
9

In [4]:
a=[1,2,3,4,5,6,7,8,9]
for num in a:
    print(num)

1
2
3
4
5
6
7
8
9

In [13]:
a=[1,2,3,4,5,6,7,8,9]
for i,j in enumerate(a):
    print(i,j)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [15]:
a=[1,2,3,4,5,6,7,8,9]
for i,num in enumerate(a):
    if i%2==0:
        a[i]+=1
    else:
        a[i]-=1       # i is index value
print(a)

[2, 1, 4, 3, 6, 5, 8, 7, 10]

In [16]:
a=[1,2,3,4,5,6,7,8,9]
add=0
for num in a:
    add+=num
print(add)

45

In [17]:
a=[1,2,3,4,5,6,7,8,9]
print(sum(a))

45

In [19]:
a=[1,2,3,4,5,6,7,8,9]
mul=1
for num in a:
    mul*=num
print(mul)

362880

In [21]:
a=[1,2,3,4,5,6,7,8,9]
maximum=a[0]
for num in a:
    if num>maximum:
        maximum=num
print(maximum)

9

In [22]:
a=[1,2,3,4,5,6,7,8,9]
print(max(a))

9

In [23]:
a=[1,2,3,4,5,6,7,8,9]
minimum=a[0]
for num in a:
    if num<minimum:
        minimum=num
print(minimum)

1

In [24]:
a=[1,2,3,4,5,6,7,8,9]
print(min(a))

1

In [27]:
a=[1,2,3,4,5,6,7,8,9]
evensum=0
oddsum=0
for i,num in enumerate(a):
    if i%2==0:
        evensum+=num
    else:
        oddsum+=num
print(evensum)
print(oddsum)

25
20

In [28]:
a=[1,2,3,4,5,6,7,8,9]
evensum=0
oddsum=1
for i,num in enumerate(a):
    if i%2==0:
        evensum+=num
    else:
        oddsum*=num
print(evensum)
print(oddsum)

25
384

In [31]:
a=[10,12,3,2,4]
evenmax=a[0]
for i,num in enumerate(a):
    if i%2==0:
        if num>evenmax:
            evenmax=num     #even index
print(evenmax)

10

In [33]:
a=[10,12,3,2,4]
oddmin=a[1]
for i,num in enumerate(a):
    if i%2!=0:
        if num<oddmin:
            oddmin=num            #odd ndex 
print(oddmin)

2

In [39]:
#read the number from 

n=int(input("enter the elements"))
a=[]

for i in range(n):
    item=int(input("enter the items"))                #enumate should be use with list or string not with int
    a.append(item)
maximum=a[0]
for num in range(len(a)):
    if a[num]>maximum:
        maximum=a[num]
print(a)
print(maximum)

enter the elements4
enter the items1
enter the items2
enter the items3
enter the items4
[1, 2, 3, 4]
4

In [40]:
n=int(input("enter the elements"))
a=[]

for i in range(n):
    item=int(input("enter the items"))                #enumate should be use with list or string not with int
    a.append(item)
minimum=a[1]
for num in a:
    if num<minimum:
        minimum=num
print(a)
print(minimum)

enter the elements4
enter the items1
enter the items2
enter the items3
enter the items4
[1, 2, 3, 4]
1

In [47]:
n1=int(input("enter the n1"))
a=[]
for i in range(n1):
    item=int(input("enter the items"))
    a.append(item)
    
n2=int(input("neter the n2"))
b=[]
for i in range(n2):
    item=int(input("enter the items"))
    b.append(item)
c=[]
for i in range(len(a)):
    c.append(a[i]+b[i])
# print(a)
# print()
# print(b)
# print()
# print(c)
maximum=c[0]
for num in c:
    if num>maximum:
        maximum=num
print(maximum)

enter the n14
enter the items1
enter the items2
enter the items3
enter the items4
neter the n24
enter the items2
enter the items3
enter the items4
enter the items5
[1, 2, 3, 4]

[2, 3, 4, 5]

[3, 5, 7, 9]
9

In [53]:
num=int(input("enterthe number"))
a=[]
for i in range (num):
    item=int(input("enter the items"))
    a.append(item)
even=[]
odd=[]
for i,num in enumerate(a):
    if i%2==0:
        even.append(num)
    else:
        odd.append(num)
    
    
print(a)
print(even)
print(odd)          # finding the indexes

enterthe number4
enter the items1
enter the items2
enter the items3
enter the items4
[1, 2, 3, 4]
[1, 3]
[2, 4]

In [54]:
num=int(input("enterthe number"))
a=[]
for i in range (num):
    item=int(input("enter the items"))
    a.append(item)
n=int(input("enter the number"))
count=0
for num in a:
    if num==n:
        count+=1
print(a)
print(count)

enterthe number4
enter the items1
enter the items2
enter the items2
enter the items2
enter the number2
[1, 2, 2, 2]
3

In [58]:
n=int(input("enter the stings"))
a=[]
for i in range(n):
    item=input("enter the items")
    a.append(item)
print(a)
store=" "
for string in a:
    store+=string + " "
print(store)

enter the stings4
enter the itemssugar
enter the itemssalt
enter the itemshoney
enter the itemsbiscuits
['sugar', 'salt', 'honey', 'biscuits']
 sugar salt honey biscuits